.form {
  margin-top: 50px;
width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-weight: 500;
}
